<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appmoviles.proyecto">

    <application
        android:allowBackup="true"
        android:icon="@drawable/aplicacion_ic_icono_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CambioAjustes"></activity>
        <activity android:name=".AjuestesContrasena" />
        <activity android:name=".LoginCorreo" />
        <activity android:name=".HomeCliente" />
        <activity android:name=".HomeAdministrador" />
        <activity android:name=".Registro_Bitsafe" />
        <activity android:name=".Login_huella" />
        <activity android:name=".Login" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".MiCuentaPerfil" />
    </application>

</manifest>